body
{
	font-family: 'Roboto', sans-serif;
	background-image: url("https://www.bing.com/images/search?view=detailV2&ccid=TDqP8M%2b2&id=FC7434A6407976971237F28BCD40F13A6719D25A&thid=OIP.TDqP8M-2JDCRibBfJwTNSwHaEK&mediaurl=https%3a%2f%2fwallpaperaccess.com%2ffull%2f1966841.jpg&cdnurl=https%3a%2f%2fth.bing.com%2fth%2fid%2fR.4c3a8ff0cfb624309189b05f2704cd4b%3frik%3dWtIZZzrxQM2L8g%26pid%3dImgRaw%26r%3d0&exph=2160&expw=3840&q=purple+black+city+backround&simid=608024325676036561&FORM=IRPRST&ck=782EAE56C78757DCA09104AFEF3BBE95&selectedIndex=22&ajaxhist=0&ajaxserp=0.jpg");
}
#container
{
	width:1000px;
	margin-left:auto;
	margin-right:auto;
	height:auto;
}
#logo
{
	color:white;
	margin-top:20px;
	font-size:55px;
	letter-spacing:4px;
	font-weight:900;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}
#menu
{
	background-color:#009999; /* #202020#303030 */
	color:#ffffff;
	margin-top:20px;
	padding:10px;
	text-align:center;
	width:410px;
	margin-left:auto;
	margin-right:auto;
	border-radius:20px;
}
#topbar
{
	background-color:#339966;
	color:#ffffff;
	padding:10px;
	margin-top:20px;
	margin-bottom:25px;
	height:220px;
	border-radius:20px;
}
#topbarL
{
	float:left;
	padding:20px;
	width:170px;
	text-align:center;
	margin-left:-10px;
	margin-top:5px;
	border-right: 2px dotted #cccccc;
}
#topbarR
{
	float:left;
	padding:20px;
	width:737px;
	font-size:16px;
	text-align:justify;
}
#sidebar
{
	float:left;
	width:148px;
	min-height:620px;
	padding:20px;
	background-color:lightgray;
	text-align:center;
	font-size:18px;
	border-right:2px dotted #666666
}
#content
{
	float:left;
	padding:40px;
	width:730px;
	background-color: #dedede;
	min-height:580px;
	text-align:justify;
	margin-bottom:15px;
}
#footer
{
	clear:both;
	color:white;
	text-align:center;
	padding:20px;
	font-size:18px;
	background-color:#000000;
	border-radius:20px;
	margin-top:10px;
}
.option
{
	float:left;
	min-width: 50px;
	height:25px;
	font-size:18px;
	padding:10px;
	border-right:2px dotted #36E6E6; /*#444444;*/
	opacity:0.8;
	color:white;
}
.option:hover
{
	background-color:#127272;
	cursor:pointer;
}
.option2
{
	float:left;
	min-width: 50px;
	height:25px;
	font-size:18px;
	padding:10px;
	opacity:0.8;
}
.option2:hover
{
	background-color:#127272;
	cursor:pointer;
}
.optionL
{
	font-size:18px;
	height:25px;
	padding:10px;
	border-bottom:2px dotted #444444
}
.optionL:hover
{
	background-color:#f36742;
	cursor:pointer;
	color:white
}
.bigtitle
{
	font-size:32px;
	font-weight:900;
	letter-spacing:2px;
}
.dottedline
{
	height:5px;
	margin-top:15px;
	margin-bottom:20px;
	border-bottom:2px dotted #444444;
}

a
{
   text-decoration: none;
}
.styl1:link
{
	color:white;
}
.styl1:visited
{
	color:white;
}
.styl1:active
{
	color:white;
}
.styl2:link
{
	color:black
}
.styl2:active
{
	color:black
}
.styl2:visited
{
	color:black
}
.styl2:hover
{
	color:white
}
