:root
{
	--light: #78fff1; /*#38ccae*/
	--dark: #361999;
}

body
{
	background-color: var(--light);
	font-family: 'Roboto', sans-serif;
	background: linear-gradient(to right top, var(--dark), var(--light));
	overflow-x: hidden;
}
#container
{
	width:1038px;
	margin-left:auto;
	margin-right:auto;
	height:auto;
}
#logo
{
	color:white;
	margin-top:20px;
	font-size:55px;
	letter-spacing:4px;
	font-weight:900;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	position: relative;
	backdrop-filter: blur(8px);
}
#menu
{
	background-color:#303030;
	color:#ffffff;
	margin-top:20px;
	padding:10px;
	text-align:center;
	width:410px;
	margin-left:auto;
	margin-right:auto;
	background: linear-gradient(to left, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.25));
	border-radius: 15px;
	box-shadow: 0px 8px 24px 0 rgba(0, 0, 0, 0.3);
	position: relative;
	backdrop-filter: blur(8px);
}
#topbar
{
	color:#ffffff;
	padding:10px;
	margin-top:20px;
	margin-bottom:25px;
	height:220px;
	background: rgba(255, 255, 255, 0.05);
	background: linear-gradient(to left, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.35));
	border-radius: 15px;
	box-shadow: 0px 8px 24px 0 rgba(0, 0, 0, 0.3);
	position: relative;
	backdrop-filter: blur(8px);
}
#topbarL
{
	float:left;
	padding:20px;
	width:170px;
	text-align:center;
	margin-left:5px;
	margin-top:5px;
}
#topbarR
{
	float:left;
	padding:20px;
	width:737px;
	font-size:17px;
	text-align:justify;
}
#sidebar
{
	float:left;
	width:148px;
	min-height:620px;
	padding:20px;
	text-align:center;
	font-size:18px;
	position: relative;
	backdrop-filter: blur(8px);
	background: linear-gradient(to left, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.35));
	box-shadow: 0px 8px 24px 0 rgba(0, 0, 0, 0.3);
	margin-right: 20px;
	color: #ffffff;
	height: 3745px;
}
#content
{
	float: left;
	padding:40px;
	width:730px;
	min-height:580px;
	text-align:justify;
	margin-bottom:15px;
	position: relative;
	backdrop-filter: blur(8px);
	background: linear-gradient(to left, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.35));
	box-shadow: 0px 8px 24px 0 rgba(0, 0, 0, 0.3);
	margin-left: 20px;
	color:#ffffff;
}
#footer
{
	clear:both;
	color:white;
	text-align:center;
	padding:20px;
	font-size:18px;
	border-radius:20px;
	margin-top:10px;
	position: relative;
	backdrop-filter: blur(8px);
	position: relative;
	backdrop-filter: blur(8px);
	background: linear-gradient(to left, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.35));
	box-shadow: 0px 8px 24px 0 rgba(0, 0, 0, 0.3);
	color: #ffffff;
}
.option
{
	float:left;
	min-width: 50px;
	height:25px;
	font-size:18px;
	padding:10px;
	position: relative;
	color:white;
	overflow: hidden;
}
.option:hover
{
	box-shadow: 0px 8px 12px 0 rgba(0, 0, 0, 0.03);
	cursor:pointer;
}
.option:after
{
	content: "";
	display:block;
	background: rgba(255, 255, 255, 0.5);
	height: 100px;
	width: 50px;
	position: absolute;
	left: -70px;
	top: -50%;
	transform: skewX(-15deg);
	transition: left 0.15s linear;
}
.option:hover:after
{
	left: 110%;

}

.optionL
{
	float:left;
	width: 130px;
	height:25px;
	font-size:18px;
	padding:10px;
	position: relative;
	color:#ffffff;
	overflow: hidden;
	border-bottom:2px dotted #ffffff;
	text-align: center;
}
.optionL:hover
{
	box-shadow: 0px 8px 12px 0 rgba(0, 0, 0, 0.03);
	cursor:pointer;
	color: #ffffff;
}
.optionL:after
{
	content: "";
	display:block;
	background: rgba(255, 255, 255, 0.5);
	height: 100px;
	width: 50px;
	position: absolute;
	left: -70px;
	top: -50%;
	transform: skewX(-15deg);
	transition: left 0.15s linear;
	color: #ffffff;
}
.optionL:hover:after
{
	left: 110%;
	color: #ffffff;

}
.bigtitle
{
	font-size:32px;
	font-weight:900;
	letter-spacing:2px;
}
.dottedline
{
	height:5px;
	margin-top:15px;
	margin-bottom:20px;
	border-bottom:2px dotted #ffffff;
}
.paragraf
{
	font-size:27px;
	margin-top:15px;
	margin-bottom:20px;
	text-align:center;
	color:#009933;
	font-weight:900;
}
.option:link
{
	color:white;
	cursor:pointer;
}
.option2:link
{
	color:white;
	cursor:pointer;
}
.optionL:link
{
	color:#ffffff;
	cursor:pointer;
}
.option:visited
{
	color:white;
	cursor:pointer;
}
.option2:visited
{
	color:white;
	cursor:pointer;
}
.optionL:visited
{
	color:#ffffff;
	cursor:pointer;
}
a 
{
   text-decoration: none;
}
.styl1:link
{
	color:white;
}
.styl1:visited
{
	color:white;
}
.styl1:active
{
	color:white;
}
.styl2:link
{
	color:white;
}
.styl2:active
{
	color: white;
}
.styl2:visited
{
	color:white;
}
.styl2:hover
{
	color:white;
}
.rol
{
	font-size:30px;
	margin-top:15px;
	margin-bottom:20px;
	text-align:center;
	font-weight:900;
}
.center
{
	text-align:center;
}
.center2
{
	text-align:center;
	font-weight:900;
}
.spacer
{
	background: rgba(255, 255, 255, 0.55);
	height: 4px;
	margin: 15px auto 20px;
	width: 55%;
	border-radius: 100%;
	position: relative;
	backdrop-filter: blur(8px);
}
.krzyż
{
	position: absolute;
	top: 0;
	left: 10%;
	animation: slidedown 5s linear infinite;
	height:50vh ;
}
@keyframes slidedown
{
	from {transform: translateY(0%)}
	to {transform: translateY(100%);}
}

.kółko
{
	position: absolute;
	top: 0;
	right: 10%;
	animation: slidedownk 10s linear infinite;
}

@keyframes slidedownk
{
	from {transform: rotate(0deg);}
	to {transform: rotate(360deg);}
}